@font-face {
	font-family: 'Roboto';
	src: url('/arcata/fonts/Roboto-Regular.woff2') format('woff2'),
		url('/arcata/fonts/Roboto-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
