.new-article {
	background-color: $pink;
	@include flex(row);
	justify-content: center;
	border-radius: 1.25rem;
	width: 3.18rem;
	height: 1.56rem;

	font-weight: 700;
	font-size: $rem-075;
	line-height: $rem-156;
	color: $white;

	position: absolute;
	top: 0;
	left: -23%;
	z-index: -4;

	@media (max-width: 23.12rem) {
		position: static;
	}

	&--not-positioned {
		position: static;

		@media (max-width: 23.12rem) {
			display: none;
		}
	}
}
